<head>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<ul class="get-nav-bar">
    <li>
      <a href="/main"> Anasayfa </a>
    </li>
    <li>
      <a href="/users"> Kullanicilar </a>
   </li>
</ul>
