<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <br />
    <br />
    <button id="mybtn">Click</button>
    <% let name = 'CoderMungan' %>
    <% let surName = "Yo" %>
    <h1>index</h1>
    <p><%= name %></p>
    <p><%= surName %></p>
  </body>
  <script src="/static/js/test.js"></script>
</html>
